@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table,th,td,tr,thead,tbody {
    border-collapse: collapse;
    padding: 15px;
    border: 1px solid #000000;
    text-align: center;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fafafa;
    background-image: radial-gradient(#d1d1d1 0.5px, transparent 0.9px);
    background-size: 20px 20px;
    font-family: 'JetBrains Mono', monospace;
}
.header {
    font-family: '';
    font-size: 32px;
    font-weight: 800;
    margin: 20px 0;
    border-bottom: 1px solid #000;
    text-shadow: 2px 2px 5px rgb(228, 157, 25);
}
.wallet-container,
table {
    background: rgba(255, 255, 255, 0.1);
    /* -webkit-backdrop-filter: blur(10px); */
    /* backdrop-filter: blur(10px); */
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}
table {
    width: 80%;
    margin: 25px auto;
}
th {
    background-color: #051cf2;
    color: white;
    font-size: 18px;
}
.wallet-container {
    display: flex;
    gap: 15px;
    margin: 20px;
    flex-wrap: wrap;
}
.wallet-container button {
    height: 0;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    filter: drop-shadow(-3px -1px 1px #000000b7);
}
.balance-card {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    min-width: 80px;
    color: white;
    text-align: center;
    font-size: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.548); */
    filter: drop-shadow(-6px -3px 1px #5e5d5db7);
}
.mtn-card, .glo-card, .airtel-card, .mobile-card {
    display: flex;
    flex-direction: column;
    background-image: url(New-mtn-logo.jpg);
    background-size: contain;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    color: white;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.glo-card {
    background-image: url(glo-limited-seeklogo.png);
}
.airtel-card {
    background-image: url(Airtel_logo-01.png);
}
.mobile-card {
    background-image: url(T2Mobile.png);
}

.balance-card h3 {
    margin: 0;
    font-size: 14px;
}
.balance-card p {
    margin: 5px 0 0;
    font-size: 18px;
    font-weight: bold;
}
.gen-pin {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.in-button {
   align-self: center;
}
select, input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    font-weight: 600;
    outline: none;
    border: 1px solid #dedddd;
}
.gen-pin button, .load-card button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 600;
    cursor: pointer;
}
.gen-pin button:hover {
    background-color: #007BFFcc;
}
.pin {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #fff;
    width: fit-content;
    margin: auto;
    border: 1px solid #929292;
    /* padding: 8px; */
}
.pin p {
    background-color: #25ba17;
    color: #fafafa;
}
.pin span, .pin p {
    padding: 10px 20px;
}
.load-card {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0 0 10px 0;
}
.load-card input {
    width: 500px;
    text-align: center;
}
.load-card button {
    background-color: #f3542f;
} .load-card button:hover {
    background-color: #f3542fdd;
}
#search-input {
    width: 300px;
    margin: 20px 0 0;
}